<h2>Class form!</h2>
<form action="/courses" method="post">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <label for="course_course_name">Course name</label>

  <input name="course[course_name]" id="course_course_name" type="text">
  <br>

  <label for="course_teacher_id">Teacher</label>

  <select name="course[teacher_id]">
    <% @users.each do |user| %>
        <option value="<%= user.id %>"><%= user.name %></option>
    <% end %>


  </select>
  <br>

  <input type="submit" value="Build my course!">

</form>
